@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f7ccd6;
}
.container {
    height: 50vh;
    width: 100wh;
}

#about-photo {
    height: 50vh;
}
#about-photo img {
    object-fit: cover;
    height: 70vh;
    width: 100%;
    opacity: 0.8;
    
}

#about-text {
    margin: 7rem 10rem 0;
    padding: 100px;
    height: 60vh;
}

#about-text p {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #433b3a;
}

footer {
    height: 10vh;
    padding: 10px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;

}

ul {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: tomato;
}

li {
    list-style: none;
    padding: 10px;
}