@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 100vh;
    width: 100wh;
}

a {
    text-decoration: none;
}
header {
    padding-top: 2px;
    text-align: center;
    display: inline-flex;
}

header div h3 {
    padding-left: 50rem;
    font-family: 'Comfortaa', cursive;
    padding-top: 1rem;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 20px; 
    padding-left: 2rem; 
}

h1 a {
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}


h3 a {
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
.container {
    display: flex;
    margin: 1rem;
}

.row {
    background-color: white;
    padding: 10px;
    height: 30rem;
    width: 25rem;
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    
}

.row img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.btn-see {
    background-color: transparent;
    font-family: 'Comfortaa', cursive;
    height: 5rem;
    width: 25rem;
    border: none;
}

.btn-see a {
    color: black;
    font-size: 20px;
}

.row::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: tomato;
    transition: width .3s;
}
.row:hover::after {
    width: 100%;
}

.row:hover{
    background-color: blanchedalmond;
    opacity: 0.9;
}

header a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: tomato;
    transition: width .3s;
}
header a:hover::after {
    width: 100%;
}
