@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #e1d9d7;
    align-items: center;
}


header > div {
    flex: 1;
}

.div-links {
    display: flex;
    align-items: center;
    justify-content: end;
  
}
header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    padding: 0 20px 0 0;
    margin: 0;
    text-align: end;    
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px 0 0;
    margin: 0;
    text-align: end;
    font-size: 30px;
    
}

h4 {
    letter-spacing: 2px;
    padding: 5px 20px 0 20px;
    font-family: 'Montserrat', sans-serif;
}


header #hover-3d {
    width: 600px;
    height: 600px;
    background-image: url(./image03.jpg);
    object-fit: fill;
    border-width: 2px;
    background-size: cover;
    /* box-shadow: 0 0 20px rgba(0,0,0,.2); */
}



a {
    color: black;
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
}